/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-title {
  color: #fff; /* White text color for better contrast */
  background: linear-gradient(45deg, #ff4081, #e040fb); /* Pink to Purple gradient */
  padding: 16px;
  border-radius: 4px;
}
.dialog-message {
  margin: 16px 0;
  color: #333; /* Dark color for text */
  font-size: 16px;
  text-align: center;
}